body {
  background-image: linear-gradient(135deg, #F7E7FF 100%, #F7E7FF 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.box-form {
  margin: 3% 3%;
  width: 37%;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
}

@media (max-width: 980px) {
  .box-form {
    width: auto;
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
.box-form div {
  height: auto;
}

.box-form .right {
  padding: 40px;
  overflow: hidden;
}
@media (max-width: 980px) {
  .box-form .right {
    width: 100%;
  }
}

.container-fluid {
  padding: 1% 3.4% 0%;
  font-size: 2vmax;
}

.navbar-brand {
  font-weight: bold;
}
.box-form .right h2 {
  font-size: 4vmax;
  line-height: 0;
}
.box-form .right p {
  font-size: 20px;
  color: #000000;
}
.box-form .right .inputs {
  overflow: hidden;
}
.box-form .right input {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #B0B3B9;
}

.box-form .right button {
  color: #fff;
  font-size: 16px;
  padding: 12px 100px;
  border-radius: 5px;
  display: inline-block;
  border: 0;
  outline: 0;
  position: relative;
  background-image: linear-gradient(135deg, #c15bc8 10%, #9A4AD6 100%);
}

.title-image {
  width: 40%;
  position: absolute;
  top: 25%;
  right: 12%;
}

