<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>mother care</title>
  <!-- https://stackoverflow.com/questions/52958461/flash-of-unstyled-text-when-switching-fonts-on-a-loaded-page -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900|Open+Sans|Ubuntu&display=swap">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>

  <section class="color-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">
        <a href="" class="navbar-brand">MotherCare.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggleMenu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Our Mission</a>
            </li>
            <li class="nav-item">
              <a href="/signup" class="nav-link"><button>Get Started</button></a>
            </li>
          </ul>

        </div>

      </nav>

      <!-- Title -->

      <div class="row">
        <div class="col-lg-6">
          <h1 class="title-h1">Mother also require Love and Care. </h1>
          <!-- https://getbootstrap.com/docs/4.0/components/buttons/ -->
          <a href="/login"><button type="button" class="btn btn-dark btn-lg download-button"></i> LogIn</button></a>
          <a href="/signup"><button type="button" class="btn btn-outline-light btn-lg download-button"></i> Sign In</button></a>
        </div>
        <div class="col-lg-6">
          <img class="title-image" src="static/images/mom.png" alt="iphone-mockup">
        </div>
      </div>
    </div>

  </section>


  <!-- Features -->

  <section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 feature-col"></div>
        <div class="col-lg-10 feature-col">
          <i class="fas"></i>
          <h3 class="feature-h3">About Us</h3>
          <p class="feature-p">We intend to make a platform for the new mothers to help them during post pregnancy phase . The primary goal is to help women deal with post partum depression which even they are unaware and hesitant of. But of course it is not just restricted to depression but also helps in improving mental health of a woman after giving birth. This platform helps them by suggesting songs, sessions, articles, activities to do to help them in improving their mental health. It also allows to connect new mothers to other women who are facing similar issues and other mothers who have been through this.</p>
        </div>
        <div class="col-lg-1 feature-col"></div>
  </section>

  <!-- Testimonials -->

  <section class="color-section" id="testimonials">
    <!-- https://getbootstrap.com/docs/4.0/components/carousel/ -->
    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2 class="testimonial-h2">I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2>
          <img class="testimonial-image" src="static/images/woman.jpg" alt="dog-profile">
          <em>Pebbles, New York</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-h2">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2>
          <img class="testimonial-image" src="static/images/lady-img.jpg" alt="lady-profile">
          <em>Beverly, Illinois</em>
        </div>
      </div>
      <a href="#testimonial-carousel" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <!-- <span class="sr-only">Previous</span> -->
      </a>
      <a href="#testimonial-carousel" class="carousel-control-next" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        <!-- <span class="sr-only">Next</span> -->
      </a>
    </div>
  </section>


  <!-- Press -->

  <section class="color-section" id="press">
    <img class="press-image" src="static/images/Capture_2.png" alt="tc-logo">
    <img class="press-image" src="static/images/Capture_1.png" alt="tnw-logo">
    <img class="press-image" src="static/images/Capture_3.png" alt="biz-insider-logo">

  </section>


  <!-- Pricing -->
  <!-- https://getbootstrap.com/docs/4.0/components/card/ -->
  <!-- https://getbootstrap.com/docs/4.0/examples/pricing/ -->
  <section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 feature-col"></div>
        <div class="col-lg-10 feature-col">
          <i class="fas"></i>
          <h3 class="feature-h3">Our Mission</h3>
          <p class="feature-p">We intend to make a platform for the new mothers to help them during post pregnancy phase . The primary goal is to help women deal with post partum depression which even they are unaware and hesitant of. But of course it is not just restricted to depression but also helps in improving mental health of a woman after giving birth. This platform helps them by suggesting songs, sessions, articles, activities to do to help them in improving their mental health. It also allows to connect new mothers to other women who are facing similar issues and other mothers who have been through this.</p>
        </div>
        <div class="col-lg-1 feature-col"></div>
  </section>

  <!-- Call to Action -->

  <section class="color-section" id="cta">
    <p>
      <i class="footer-icon fab fa-twitter-square"></i>
      <i class="footer-icon fab fa-facebook-square"></i>
      <i class="footer-icon fab fa-instagram-square"></i>
      <i class="footer-icon fas fa-envelope-square"></i>
    </p>
    <h3 class="footer-h3">&copy; Copyright</h3>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/734329e1e3.js" crossorigin="anonymous"></script>
</body>

</html>
