<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>Questionare</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="static/css/style_question.css">

</head>
<body>
	<div class="container-fluid m-0 p-0">
		<nav class="navbar navbar-default ">
			<a class="navbar-brand">mother care</a>
		</nav>
	</div>
	<div class="row">
		<div class="box-form">
			<div class="right">
				<form method="POST">
				<h2>How are u feeling today ?</h2>
				<div class="quiz-header">
					<div class="option-container">
						<button class="option" id="op1" name="feel" value="Happy">Happy</button> <br>
						<button class="option" id="op2" name="feel"  value="Sad">Sad</button><br>
						<button class="option" id="op3" name="feel" value="Tired" >Tired</button><br>
						<button class="option" id="op4" name="feel" value="Low" >Low</button><br>
					</div>
				</div>
				<a href="/"></a><input type="submit" src="static/images/button.png" alt="submit_questionnaire" height=" 10%" width="10%" style="float: right";></a>
				</form>
				
			</div>
		</div>
	</div>
</body>
</html>
